@import "tailwindcss";

/* Add these styles for the hamburger menu */
.menu-links.open {
  max-height: 100vh; /* Or a sufficiently large value to show all items */
}

.hamburger-icon.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -7.5px);
}

* {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    transition: all 300ms ease;
}